* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.contenedor {
    background-image: url(../imgs/fondo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    min-width: 350px;
}

.media > img {
    width: 30px;
    height: auto;
    margin: 0 20px;
}

.principal {
    margin-top: 30px;
    margin-bottom: 220px;
}